<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />

    <title>Add Course</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container mt-5">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h3 class="text-center">Add Course</h3>
        </div>

        <div class="card-body">
          <form th:action="@{/course}" th:object="${course}" method="post">
            <div th:if="${duplicateError}" class="alert alert-danger">
              <span th:text="${duplicateError}"></span>
            </div>
            <!-- Course Code -->

            <div class="mb-3">
              <label class="form-label"> Course Code </label>

              <input
                type="text"
                class="form-control"
                th:field="*{courseCode}"
              />

              <div
                class="text-danger"
                th:if="${#fields.hasErrors('courseCode')}"
                th:errors="*{courseCode}"
              ></div>
            </div>

            <!-- Course Name -->

            <div class="mb-3">
              <label class="form-label"> Course Name </label>

              <input
                type="text"
                class="form-control"
                th:field="*{courseName}"
              />

              <div
                class="text-danger"
                th:if="${#fields.hasErrors('courseName')}"
                th:errors="*{courseName}"
              ></div>
            </div>

            <!-- Duration -->

            <div class="mb-3">
              <label class="form-label"> Duration </label>

              <input type="text" class="form-control" th:field="*{duration}" />

              <div
                class="text-danger"
                th:if="${#fields.hasErrors('duration')}"
                th:errors="*{duration}"
              ></div>
            </div>

            <!-- Fees -->

            <div class="mb-3">
              <label class="form-label"> Fees </label>

              <input type="number" class="form-control" th:field="*{fees}" />

              <div
                class="text-danger"
                th:if="${#fields.hasErrors('fees')}"
                th:errors="*{fees}"
              ></div>
            </div>

            <!-- Description -->

            <div class="mb-3">
              <label class="form-label"> Description </label>

              <textarea class="form-control" rows="4" th:field="*{description}">
              </textarea>
            </div>

            <button type="submit" class="btn btn-success">Save Course</button>

            <a th:href="@{/course}" class="btn btn-secondary"> Cancel </a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
