<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class ="card-body">
        <form>
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class = "form-control" placeholder="Enter First Name">
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Last Name
                </label>
                <input type="text" class="form-control" placeholder="Enter Last Name">
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Email
                </label>
                <input type="email" class="form-control" placeholder="Enter Email">
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Phone
                </label>
                <input type="text" class="form-control" placeholder="Enter Phone Number">
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Gender
                </label>
                <select class="form-select">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </div>
        </form>
    </div>
</body>
</html>