<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="card-body">
      <form th:action="@{/students}" th:object = "${student}" method = "post">
        <!-- First Name -->
        <div class="mb-3">
          <label class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            th:field="*{firstName}">
          />
        </div>
        <!-- Last Name -->
        <div class="mb-3">
          <label class="form-label"> Last Name </label>
          <input
            type="text"
            class="form-control"
            th:field="*{lastName}">          />
        </div>
        <!-- Email -->
        <div class="mb-3">
          <label class="form-label"> Email </label>
          <input type="email" class="form-control" th:field="*{email}"/>
        </div>
        <!-- Phone -->
        <div class="mb-3">
          <label class="form-label"> Phone </label>
          <input
            type="text"
            class="form-control"
            th:field="*{phone}">
          />
        </div>
        <!-- Gender -->
        <div class="mb-3">
          <label class="form-label"> Gender </label>

          <select class="form-select" th:field="*{gender}">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="option">Other</option>
          </select>
        </div>
        <!-- Course -->
        <div class="mb-3">
          <label class="form-label">Course</label>
          <input type="text" class="form-control" th:field="*{course}"> />
        </div>
        <!-- Date of Birth -->
        <div class="mb-3">
          <label class="form-label">Date of Birth</label>
          <input type="date" class="form-control" th:field="*{dateOfBirth}"/>
        </div>
        <!-- Address -->
        <div class="mb-3">
          <label class="form-label"> Address </label>~
          <textarea class="form-control" th:field="*{address}"></textarea>
        </div>
        <!-- Add Photo -->
         <div class="mb-3">
            <label class="form-label">Photo</label>
            <input type="text" class ="form-control" th:field="*{photo}">
         </div>
         <!-- Add Buttons -->
          <button type="submit" class="btn btn-success">
            Save Student
          </button>
          <a th:href="@{/student}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </body>
</html>
