<!doctype html>
<html lang="en" xmlns:th="https://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management System</title>
  </head>

  <body>
    <div class="container mt-5" th:fragment="content">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="mb-4">Student List</h3>
          <div class="mb-3">
            <a th:href="@{/student/new}" class="btn btn-primary">Add Student</a>
          </div>
          <form th:action="@{/student/search}" method="get" class="mb-3">
            <div class="input-group">
              <input
                type="text"
                name="keyword"
                class="form-control"
                placeholder="Search by Name, Email or Course"
              />

              <button class="btn btn-success" type="submit">Search</button>
            </div>
          </form>
          <table class="table table-bordered table-hover">
            <thead class="table-dark">
              <tr>
                <th>ID</th>
                <th>Photo</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Course</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>

                <!-- Student Photo -->
                <td>
                  <img
                    th:if="${student.photo != null}"
                    th:src="@{'/student-images/' + ${student.photo}}"
                    width="70"
                    height="70"
                    class="rounded-circle border"
                    style="object-fit: cover"
                  />

                  <img
                    th:unless="${student.photo != null}"
                    th:src="@{/images/default-avatar.svg}"
                    alt="No photo"
                    width="70"
                    height="70"
                    class="rounded-circle border"
                  />
                </td>

                <td th:text="${student.firstName}"></td>

                <td th:text="${student.lastName}"></td>

                <td th:text="${student.email}"></td>

                <td th:text="${student.phone}"></td>

                <td th:text="${student.course}"></td> 

                <td>
                  <a
                    th:href="@{/student/view/{id}(id=${student.id})}"
                    class="btn btn-info btn-sm"
                  >
                    View
                  </a>
                  <a
                    th:href="@{/student/edit/{id}(id=${student.id})}"
                    class="btn btn-warning btn-sm"
                  >
                    Edit
                  </a>

                  <a
                    th:href="@{/student/delete/{id}(id=${student.id})}"
                    class="btn btn-danger btn-sm"
                    onclick="return confirm('Delete this student?');"
                  >
                    Delete
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <p class="text-center mt-3">
            Total Students :
            <strong th:text="${totalItems}"></strong>
          </p>

          <p class="text-center">
            Page
            <span th:text="${currentPage}"></span>
            of
            <span th:text="${totalPages}"></span>
          </p>

          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <!-- Previous Button -->

              <li
                class="page-item"
                th:classappend="${currentPage == 1} ? 'disabled'"
              >
                <a
                  class="page-link"
                  th:href="@{/student/page/{pageNo}(pageNo=${currentPage-1})}"
                >
                  Previous
                </a>
              </li>

              <!-- Page Numbers -->

              <li
                class="page-item"
                th:each="i : ${#numbers.sequence(1,totalPages)}"
                th:classappend="${currentPage == i} ? 'active'"
              >
                <a
                  class="page-link"
                  th:href="@{/student/page/{pageNo}(pageNo=${i})}"
                  th:text="${i}"
                >
                </a>
              </li>

              <!-- Next Button -->

              <li
                class="page-item"
                th:classappend="${currentPage == totalPages} ? 'disabled'"
              >
                <a
                  class="page-link"
                  th:href="@{/student/page/{pageNo}(pageNo=${currentPage+1})}"
                >
                  Next
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
