<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="dashboard-panel" th:fragment="recentStudents">
      <div class="panel-header">
        <h4>Recent Students</h4>

        <a th:href="@{/student}">View All</a>
      </div>

      <div class="panel-body">
        <div class="student-item" th:each="student : ${recentStudents}">
          <div
            class="student-avatar"
            th:text="${#strings.substring(student.firstName,0,1)}"
          >
            A
          </div>

          <div class="student-info">
            <h6 th:text="${student.firstName + ' ' + student.lastName}">
              Student Name
            </h6>

            <small th:text="${student.email}"> email@gmail.com </small>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
